<!doctype html>
<html>
<head>
    <title>Bookmark Your Favorite Movies</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&family=Oswald&family=Roboto&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    
</head>
<body>

    <h1>Bookmark Your Favorite Movies</h1>

		<main>
			<div>
                <img src="img/movie.png" alt=""> 
        
                <a href="/login" class="btn btn-default">Login</a>
                <a href="/signup" class="btn btn-default">Signup</a>        
			</div>
		</main>

</body>
</html>
