<!doctype html>
<html>
<head>
    <title>Bookmark Your Favorite Movies</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>

    <div>
        <h1 class="prof">Profile Page</h1>
        <a class="a1" href="/logout">Logout</a>
        <a href="/bookmarks">View Bookmarked Movies</a>
    </div> 
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4">Bookmark Your Favorite Movies</h1>
      <p class="lead"> <em>With one search find related movies</em></p>
      <span><input type="text" id="search"
              placeholder="Search Here!">
  </div>
</div>


<div class="cardContainer">
  <div class="nav">
      <button id="movieBtn">Find Movies</button> 
      <button id="remove">Remove results</button>
  </div>

</div>


<div id="result"> 



</div>


<script src="main.js"></script>

</body>
</html>
